<template>
	<div class="home">
		<v-container fluid>
			<v-row>
				<v-col cols="12">
					<SearchBar />
				</v-col>
			</v-row>
			<v-row>
				<WordDefinition />
				<WikiDefinition />
			</v-row>
		</v-container>
	</div>
</template>

<script>
// @ is an alias to /src
import WordDefinition from "@/components/WordDefinition.vue";
import WikiDefinition from "@/components/WikiDefinition.vue";
import SearchBar from "@/components/SearchBar.vue";

export default {
	name: "Home",
	components: {
		WordDefinition,
		WikiDefinition,
		SearchBar
	}
};
</script>

<style scoped></style>
