<template>
	<div class="home">
		<v-container fluid>
			<v-row>
				<v-col cols="12">
					<SearchBar />
				</v-col>
			</v-row>
			<v-row>
				<WordDefinition />
				<WikiDefinition />
			</v-row>
		</v-container>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SearchBar from "@/components/SearchBar.vue";
import WordDefinition from "@/components/WordDefinition.vue";
import WikiDefinition from "@/components/WikiDefinition.vue";

@Component({
	components: {
		SearchBar,
		WordDefinition,
		WikiDefinition
	}
})
export default class SearchPage extends Vue {}
</script>
