<template>
	<v-app>
		<Navbar />

		<v-content class="grey lighten-4">
			<router-view></router-view>
		</v-content>

		<v-footer>
			<v-col class="text-center" cols="12">
				<span class="font-weight-light">KNOW</span><span>STUFF</span>&nbsp;
				<small>{{ appVersion + " - " + appEnvironment }}</small>
			</v-col>
		</v-footer>
	</v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navbar from "@/components/Navbar.vue";

@Component({
	components: {
		Navbar
	}
})
export default class App extends Vue {
	public appVersion: string;
	public appEnvironment: string;

	constructor() {
		super();
		this.appVersion = process.env.VUE_APP_VERSION;
		this.appEnvironment = process.env.VUE_APP_ENVIRONMENT;
	}
}
</script>
