<template>
	<nav>
		<v-toolbar flat dark color>
			<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
			<v-toolbar-title class="text-uppercase">
				<span class="font-weight-light">Know</span><span>Stuff</span>
			</v-toolbar-title>

			<v-spacer></v-spacer>
			<v-img class="shrink" width="40" :src="require('../assets/logo.svg')" />
		</v-toolbar>

		<v-navigation-drawer app v-model="drawer" absolute temporary>
			<v-list nav dense>
				<v-list-item-group v-model="group">
					<v-list-item>
						<v-list-item-content>
							<v-list-item-title class="title text-uppercase"
								><span class="font-weight-light">Know</span
								><span>Stuff</span></v-list-item-title
							>
						</v-list-item-content>
					</v-list-item>

					<v-divider></v-divider>

					<template v-for="item in items" link>
						<v-list-item :key="item.title" :to="item.route">
							<v-list-item-icon>
								<v-icon>{{ item.icon }}</v-icon>
							</v-list-item-icon>

							<v-list-item-content>
								<v-list-item-title>{{ item.title }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</template>
				</v-list-item-group>
			</v-list>
		</v-navigation-drawer>
	</nav>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {
	public drawer = false;
	public group: unknown = null;
	public items: Array<unknown>;

	constructor() {
		super();

		this.items = [
			{ title: "Home", icon: "mdi-home", route: "/" },
			{ title: "Search", icon: "mdi-magnify", route: "/Search" },
			{ title: "About", icon: "mdi-information-outline", route: "/About" }
		];
	}

	@Watch("group")
	groupChange() {
		this.drawer = false;
	}
}
</script>
