<template>
	<v-card>
		<v-card-title> Search </v-card-title>
		<v-divider></v-divider>
		<v-card-text>
			<v-row align="center">
				<v-col cols="10" sm="10">
					<v-text-field
						v-on:keyup.enter="search"
						:outlined="true"
						:hide-details="true"
						clearable
						v-model="term"
						placeholder="Type something..."
					></v-text-field>
				</v-col>

				<!-- Small and above display -->
				<v-col cols="2" md="2" class="d-none d-sm-flex">
					<v-btn x-large color="primary" @click="search">
						Search
						<v-icon right class="pl-1">mdi-magnify</v-icon>
					</v-btn>
				</v-col>

				<!-- Extra small display -->
				<v-col cols="2" class="d-flex d-sm-none">
					<v-btn small color="primary" fab dark @click="search">
						<v-icon>mdi-magnify</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-row no-gutters>
				<v-col cols="4">
					<v-checkbox label="Dictionary" v-model="dictionary"> </v-checkbox>
				</v-col>
				<v-col cols="4">
					<v-checkbox label="Wikipedia" v-model="wikipedia"> </v-checkbox>
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";

@Component
export default class SearchBar extends Vue {
	private term: string | null = null;
	private dictionary = true;
	private wikipedia = true;

	search() {
		if (this.term) {
			this.$store.commit("setSearchTerm", this.term);
		}
	}

	created() {
		this.$store.subscribe((mutation, state) => {
			if (mutation.type === "setSearchTerm") {
				this.term = state.searchTerm;
			}
		});

		this.term = this.$store.state.searchTerm;
		this.dictionary = this.$store.state.searchOptions.dictionary;
		this.wikipedia = this.$store.state.searchOptions.wikipedia;
	}

	@Watch("dictionary")
	dictionaryChanged() {
		this.saveSearchOptions();
	}

	@Watch("wikipedia")
	wikipediaChanged() {
		this.saveSearchOptions();
	}

	saveSearchOptions() {
		this.$store.commit("setSearchOptions", {
			dictionary: this.dictionary,
			wikipedia: this.wikipedia
		});
	}
}
</script>
