<template>
	<v-col cols="12" v-show="showComponent">
		<v-card :loading="loading">
			<v-card-title class="title text--lighten-4">
				Wikipedia
				<v-spacer></v-spacer>
				<v-btn icon @click="show = !show" v-if="article">
					<v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
				</v-btn>
			</v-card-title>
			<v-divider></v-divider>
			<v-card-text v-show="show" v-if="article">
				<p class="title text--primary">
					{{ article.title }}
				</p>
				<v-carousel hide-delimiters height="400" style="max-height:400px;">
					<v-carousel-item
						v-for="(src, i) in article.images"
						:key="i"
						reverse-transition="fade-transition"
						transition="fade-transition"
					>
						<img
							:src="src"
							:alt="src"
							style="max-width: 100%; max-height: 100%;display:block;background-position: center center;"
						/>
					</v-carousel-item>
				</v-carousel>

				<p
					class="text--primary mt-6"
					v-for="(p, i) in article.summary"
					:item="p"
					:key="i"
				>
					{{ p }}
				</p>
			</v-card-text>
			<v-card-text v-else>
				<p class="mb-0 font-italic">Search for an article...</p>
			</v-card-text>
			<v-card-actions v-show="show" v-if="article">
				<v-btn
					:href="article.url"
					:text="false"
					color="primary"
					target="_blank"
				>
					View on WikiPedia
					<v-icon dark right>mdi-open-in-new</v-icon>
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-col>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { WikiClient, WikiArticle } from "@/services/api/AppClient";

@Component
export default class WikiDefinition extends Vue {
	private article: WikiArticle | null = null;
	private apiClient: WikiClient;
	private errored = false;
	private loading = false;
	private show = true;
	private showComponent = true;
	private unsub: (() => void) | undefined;

	constructor() {
		super();
		this.apiClient = new WikiClient(process.env.VUE_APP_API_URL);
	}

	search(term: string) {
		this.article = null;
		this.show = true;
		this.loading = true;
		this.apiClient
			.getPage(term)
			.then(response => {
				this.article = response;
				this.$store.commit("setWikiArticle", this.article);
			})
			.catch(error => {
				console.log(error);
				this.errored = true;
			})
			.finally(() => (this.loading = false));
	}

	mounted(): void {
		const articleFromStore = this.$store.state.wikipediaArticle;
		if (articleFromStore) {
			this.article = articleFromStore;
		}
	}

	beforeDestroy(): void {
		if (this.unsub) {
			this.unsub();
		}
	}

	created(): void {
		this.unsub = this.$store.subscribe((mutation, state) => {
			if (mutation.type === "setSearchTerm") {
				if (this.wikiSearchEnabled === true) {
					this.showComponent = true;
					this.search(state.searchTerm);
				} else {
					this.showComponent = false;
					this.article = null;
				}
			}
		});
	}

	get wikiSearchEnabled(): boolean {
		return this.$store.state.searchOptions.wikipedia;
	}
}
</script>
