<template>
	<v-col cols="12" v-show="showComponent">
		<v-card v-if="!entries" :loading="loading">
			<v-card-title>
				Definition
				<v-spacer></v-spacer>
			</v-card-title>
			<v-divider></v-divider>
			<v-card-text>
				<p class="mb-0 font-italic">Search for a definition...</p>
			</v-card-text>
		</v-card>

		<v-card
			v-for="(entry, index) in entries"
			:item="entry"
			:key="index"
			:loading="loading"
		>
			<v-card-title>
				Definition
				<v-spacer></v-spacer>
				<v-btn icon @click="show = !show">
					<v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
				</v-btn>
			</v-card-title>
			<v-divider></v-divider>
			<v-card-text v-show="show">
				<div
					v-for="(lexEnt, index) in entry.lexicalEntries"
					:item="lexEnt"
					:key="index"
				>
					<p>
						<span class="text-lowercase"
							>{{ lexEnt.lexicalCategory + ":" }}
						</span>
						<span class="text--primary" style="font-weight:bold">{{
							entries[0].word
						}}</span>
					</p>

					<div v-for="(entry, i) in lexEnt.entries" :item="entry" :key="i">
						<div
							class="mb-0"
							v-for="(sense, i) in entry.senses"
							:item="sense"
							:key="i"
						>
							<div class="float-left text--primary">
								<span>{{ i + 1 + "." }}</span>
							</div>
							<div class="ml-5">
								<div class="text--primary">
									{{ sense.definition }}
								</div>
								<div
									class="mb-2"
									style="font-style: italic"
									v-if="sense.example"
								>
									{{ '"' + sense.example + '"' }}
								</div>
								<div
									class="ml-8"
									v-for="(subsense, j) in sense.subSenses"
									:key="j"
									:item="subsense"
								>
									<div class="text--primary" style="font-size:12px;">
										{{ subsense.definition }}
									</div>
								</div>

								<div
									v-if="sense.synonyms"
									class="mt-2 mb-4 text--primary"
									style="font-size:12px"
								>
									<v-chip-group column>
										<template v-for="syn in sense.synonyms">
											<v-chip
												small
												:key="syn"
												color="#EEE"
												@click="synonymSearch(syn)"
											>
												{{ syn }}
											</v-chip>
										</template>
									</v-chip-group>
								</div>
							</div>
						</div>
					</div>
				</div>
			</v-card-text>
		</v-card>
	</v-col>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { DictionaryClient, WordEntryDto } from "@/services/api/AppClient";

@Component
export default class WordDefinition extends Vue {
	private entries: Array<WordEntryDto> | null = null;
	private errored = false;
	private loading = false;
	private show = true;
	private showComponent = true;
	private unsub: (() => void) | undefined;
	private apiClient: DictionaryClient;

	constructor() {
		super();
		this.apiClient = new DictionaryClient(process.env.VUE_APP_API_URL);
	}

	synonymSearch(term: string) {
		const tokens = term.split(/(\s+)/);
		if (tokens.length == 1) {
			this.$store.commit("setSearchTerm", term);
		}
	}

	saveTerm(term: string, entry: WordEntryDto[]) {
		const parsed = JSON.stringify(entry);
		sessionStorage.setItem(term, parsed);
		console.log(`${term} saved to storage`);
	}

	search(term: string): void {
		this.entries = null;
		this.show = true;

		const tokens = term.split(/(\s+)/);
		if (tokens.length != 1) {
			return;
		}

		this.loading = true;
		const jsonEntry = sessionStorage.getItem(term);
		if (jsonEntry) {
			this.entries = JSON.parse(jsonEntry);
			this.loading = false;
			console.log(`${term} found in storage`);
			return;
		}

		this.apiClient
			.lookupEntry(term)
			.then(response => {
				console.log(`${term} API request`);
				this.entries = response;
				this.$store.commit("setDictEntry", this.entries);
				this.saveTerm(term, response);
			})
			.catch(error => {
				console.log(error);
				this.errored = true;
			})
			.finally(() => (this.loading = false));
	}

	created() {
		this.$store.subscribe((mutation, state) => {
			if (mutation.type === "setSearchTerm") {
				if (this.wordSearchEnabled === true) {
					this.showComponent = true;
					this.search(state.searchTerm);
				} else {
					this.showComponent = false;
					this.entries = null;
				}
			}
		});
	}

	get wordSearchEnabled(): boolean {
		return this.$store.state.searchOptions.dictionary;
	}

	mounted(): void {
		const entryFromStore = this.$store.state.dictionaryEntry;
		if (entryFromStore) {
			this.entries = entryFromStore;
		}
	}

	beforeDestroy(): void {
		if (this.unsub) {
			this.unsub();
		}
	}
}
</script>
